<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kafka.webbbs.mapper.UserMapper">
   
    <select id="getByuserAccount" resultType="long">
        select count(userAccount) from user where userAccount=#{userAccount}
    </select>
    <select id="getUidByuserAccount" resultType="java.lang.Long">
        select uid from user where userAccount=#{userAccount}
    </select>

    <insert id="userRegister" useGeneratedKeys="true" keyProperty="uid">
        insert into user (userAccount,userPassword,userName,userAvatar,userProfile,userRole,createTime,updateTime,isDelete)
        values(#{userAccount},#{userPassword},#{userName},#{userAvatar},#{userProfile},#{userRole},#{createTime},#{updateTime},#{isDelete})
    </insert>

    <select id="getUserByusername" resultType="com.kafka.webbbs.model.entity.User">
        select * from user where userAccount=#{userAccount}
    </select>

    <update id="UploadPicture">
        update user set userAvatar = #{userAvatar} where uid = #{uid}
    </update>
    

    <select id="getUserByUid" resultType="com.kafka.webbbs.model.entity.User">
        select * from user where uid = #{uid}
    </select>

    <update id="updateUserInfo" >
        update user set
            <if test="userName !='' and userName !=null">
                userName = #{userName}
            </if>
            <if test="userProfile !='' and userProfile!=null">
                ,userProfile =#{userProfile}
            </if>
                where uid = #{uid}
    </update>
</mapper>